
.title-font{
    width: 1200px;
    height: 23px;
    margin:14px auto;
    background: #fff;
}

#hot-sale{
    width: 1200px;
    height: 217px;
    margin: 0 auto;
    background: #aff4af;
    .product{
        width: 100%;
        height: 180px;
        background: yellow;
    }
}