#n-tab {
    width: 980px;
    height: 628px;
    margin: 10px auto;
    background: #fff;

    .tab-title {
        width: 980px;
        height: 45px;
        position: relative;

        .tab-top {
            width: 140px;
            height: 36px;
            padding-bottom: 7px;
            border: 1px solid #e8e8e8;
            border-top: 2px solid #2daae4;
            border-bottom: 1px solid #fff;
            color: #2daae4;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            line-height: 36px;
        }
    }

    .tab-content {
        width: 938px;
        height: 612px;
        padding: 20px;
        border: 1px #e8e8e8 solid;

        .register {
            width: 750px;
            height: 552px;
            margin: 30px 10px;
            // background: gold;
        }

        .reg-list {
            @include li-style(none);

            >li {
                width: 750px;
                height: 60px;
                padding-top: 9px;
                // background: #ccc;

                >span {
                    float: left;
                    width: 170px;
                    height: 35px;
                    padding-right: 10px;
                    // background: pink;
                    text-align: right;
                    line-height: 35px;
                    font-size: 12px;
                    color: #747474;
                }

                .reg-box {
                    width: 260px;
                    height: 35px;
                    // background: green;
                    float: left;
                    padding: 1px 2px 1px 15px;
                    border: 1px solid #e8e8e8;
                    color: #747474;
                    >input{
                        height: 35px;
                        width:220px;
                        outline: none;
                        border: none;
                    }
                    >span {
                        width: 35px;
                        height: 35px;
                        float: right;
                        text-align: center;
                        line-height: 35px;
                        color: #747474;
                    }
                }
                >p{
                    width: 575px;
                    height: 33px;
                    margin-left: 175px;
                    // background: yellow;
                    font-size: 12px;
                    line-height: 33px;
                    color: #747474;
                }
                >p:last-child{
                    color: #cc0000;
                }
                .btn{
                    width: 260px;
                    height: 40px;
                    padding: 0px 25px;
                    background: #cc0000;
                    border: none;
                    border-radius: 2px;
                    margin-top: 30px;
                    margin-left: 180px;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}