* {
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
  position: relative;
}

#header_top {
  width: 100%;
  height: 35px;
  background: #eeeeee;
}

#header_top .head-center {
  position: relative;
  width: 1200px;
  height: 35px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header_top .head-center .head-list {
  width: 271px;
  height: 35px;
  margin-left: 50px;
  font-size: 12px;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header_top .head-center .head-list span {
  margin: 0px 10px;
  color: #c8c8c8;
}

#header_top .head-center .head-list a {
  text-decoration: none;
  color: #cc0000;
}

#header_top .head-center .head-li {
  list-style: none;
  font-size: 12px;
  margin-left: 50px;
  width: 454px;
  height: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header_top .head-center .head-li > span {
  margin: 0px 10px;
  color: #c8c8c8;
}

#header_top .head-center .head-li > li a {
  text-decoration: none;
  color: #cc0000;
}

#header_top .head-center .head-list1 {
  width: 537px;
  height: 35px;
  font-size: 12px;
  position: relative;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header_top .head-center .head-list1 > li {
  width: 81px;
  height: 35px;
  padding: 0px 10px;
  line-height: 35px;
}

#header_top .head-center .head-list1 .sp {
  margin-left: 10px;
}

#header_top .head-center .head-list1 span {
  color: #c8c8c8;
}

#header_top .head-center .head-list1 .spa {
  position: absolute;
  top: 0px;
  right: 0px;
}

#header_top .head-center .head-list1 > li a {
  text-decoration: none;
  color: #747474;
}

#header_top .head-center .head-list1 > li a:hover {
  color: #cc0000;
}

#header_top .head-center .service {
  width: 90px;
  height: 49px;
  padding: 10px 0px;
  border: 1px solid #f5f5f5;
  background: #fff;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 35px;
  right: 0px;
  z-index: -1;
}

#header_top .head-center .service > p {
  height: 24px;
  width: 90px;
  font-size: 12px;
  color: #747474;
  line-height: 24px;
  text-align: center;
}

#header_top .head-center .service > p span {
  color: #ff6600;
  font-size: 20px;
  margin: 2px 0px 0px 2px;
}

#header_top .head-center .collect {
  width: 90px;
  height: 49px;
  padding: 10px 0;
  background: #fff;
  opacity: 0;
  position: absolute;
  top: 35px;
  right: 90px;
  z-index: -1;
}

#header_top .head-center .collect > p {
  width: 90px;
  height: 24px;
  font-size: 12px;
  color: #747474;
  text-align: center;
  line-height: 24px;
}

header {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

header #head {
  width: 1200px;
  height: 110px;
  margin: 0 auto;
  background: #fff;
}

header #head .logo {
  width: 210px;
  height: 80px;
  margin-top: 10px;
  float: left;
}

header #head .logo > img {
  width: 173px;
  height: 80px;
}

header #head .head-title {
  width: 160px;
  height: 100px;
  color: #747474;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

header #head .head-title > span {
  margin-right: 10px;
}

html,
body {
  background: whitesmoke;
}

.cart-content {
  width: 1200px;
  min-height: 324px;
  margin: 10px auto;
  overflow: hidden;
}

.cart-content .cart-title {
  width: 1200px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 25px;
}

.cart-content .cart-title > h1 {
  font-size: 18px;
  color: #747474;
}

.cart-content .cart-title > h1 > span {
  font-size: 25px;
}

.cart-content .list-main {
  width: 1200px;
  min-height: 284px;
}

.cart-content .list-main .list-top {
  width: 1200px;
  height: 40px;
  margin: 10px 0px;
  background: #cc0000;
}

.cart-content .list-main .list-top > ul {
  list-style: none;
}

.cart-content .list-main .list-top > ul li {
  float: left;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

.cart-content .list-main .list-top > ul li:nth-child(1) {
  width: 480px;
  height: 40px;
  padding-left: 20px;
  text-align: left;
}

.cart-content .list-main .list-top > ul li:nth-child(2) {
  width: 150px;
  height: 40px;
}

.cart-content .list-main .list-top > ul li:nth-child(3) {
  width: 95px;
  height: 40px;
}

.cart-content .list-main .list-top > ul li:nth-child(4) {
  width: 180px;
  height: 40px;
}

.cart-content .list-main .list-top > ul li:nth-child(5) {
  width: 120px;
  height: 40px;
}

.cart-content .list-main .main-border {
  width: 1200px;
  min-height: 165px;
  margin: 10px 0;
  border: 1px solid #e8e8e8;
  border-right: none;
}

.cart-content .list-main .main-border .dianpu {
  width: 120px;
  height: 24px;
  line-height: 24px;
  margin: 10px 0px;
  margin-left: 20px;
  font-size: 12px;
  color: #747474;
  font-weight: bold;
}

.cart-content .list-main .main-border .content-list {
  width: 1158px;
  height: 95px;
  margin-left: 20px;
  border-top: 1px solid #e8e8e8;
  padding-top: 15px;
}

.cart-content .list-main .main-border .content-list .cart-list {
  list-style: none;
}

.cart-content .list-main .main-border .content-list .cart-list > li {
  float: left;
  font-size: 12px;
  color: #747474;
}

.cart-content .list-main .main-border .content-list .cart-list > li:nth-child(1) {
  width: 19.5px;
  height: 18.5px;
  padding-top: 20px;
}

.cart-content .list-main .main-border .content-list .cart-list .cart-img {
  width: 66px;
  height: 66px;
  margin-left: 30px;
}

.cart-content .list-main .main-border .content-list .cart-list .cart-img > img {
  width: 100%;
  height: 100%;
}

.cart-content .list-main .main-border .content-list .cart-list .cart-tit {
  width: 350px;
  height: 46px;
  margin-left: 10px;
}

.cart-content .list-main .main-border .content-list .cart-list .cart-tit > p {
  width: 205px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.cart-content .list-main .main-border .content-list .cart-list .cart-price {
  width: 150px;
  height: 14px;
  margin-left: 10px;
  text-align: center;
}

.cart-content .list-main .main-border .content-list .cart-list .cart-add {
  width: 120px;
  height: 65px;
  margin-left: 10px;
}

.cart-content .list-main .main-border .content-list .cart-list .cart-add > div {
  width: 120px;
}

.cart-content .list-main .main-border .content-list .cart-list .cart-add > div .delitem {
  width: 26px;
  height: 28px;
  border: 1px solid #ece9e9;
  padding: 0px 2px;
  float: left;
  background: #fff;
  outline: none;
}

.cart-content .list-main .main-border .content-list .cart-list .cart-add > div .val {
  width: 38px;
  height: 26px;
  padding: 0px 2px;
  border: 1px solid #ece9e9;
  float: left;
  text-align: center;
  background: #fff;
  outline: none;
}

.cart-content .list-main .main-border .content-list .cart-list .cart-add > div .additem {
  width: 26px;
  height: 28px;
  border: 1px solid #ece9e9;
  padding: 0px 2px;
  float: left;
  background: #fff;
  outline: none;
}

.cart-content .list-main .main-border .content-list .cart-list .cart-hj {
  width: 120px;
  height: 14px;
  margin-left: 10px;
  text-align: center;
  font-weight: bold;
}

.cart-content .list-main .main-border .content-list .cart-list .cart-del {
  width: 100px;
  height: 15px;
  margin-left: 30px;
  text-align: center;
  cursor: pointer;
}

.cart-content .list-main .shop_set {
  width: 1200px;
  height: 47px;
  background: #e8e8e8;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 8px #ddd;
          box-shadow: 0px 0px 8px #ddd;
}

.cart-content .list-main .shop_set .set-left {
  width: 300px;
  height: 18px;
  margin-top: 12px;
  margin-left: 20px;
  font-size: 12px;
  color: #747474;
  float: left;
}

.cart-content .list-main .shop_set .set-left .alldel {
  margin-left: 30px;
  cursor: pointer;
}

.cart-content .list-main .shop_set .youhui {
  width: 300px;
  height: 20px;
  margin-top: 12px;
  margin-left: 20px;
  font-size: 15px;
  color: #747474;
  float: left;
}

.cart-content .list-main .shop_set .set-right {
  width: 440px;
  height: 45px;
  float: right;
}

.cart-content .list-main .shop_set .set-right .mar-left {
  width: 305px;
  height: 21px;
  margin-top: 8px;
  margin-right: 10px;
  float: left;
  font-size: 12px;
  color: #747474;
}

.cart-content .list-main .shop_set .set-right .mar-left > strong {
  color: #cc0000;
}

.cart-content .list-main .shop_set .set-right .mar-left .price_font {
  font-size: 18px;
}

.cart-content .list-main .shop_set .set-right .btnblock {
  width: 124px;
  height: 45px;
  background: #cc0000;
  color: #fff;
  font-size: 18px;
  float: left;
  text-align: center;
  line-height: 45px;
  border-radius: 2px;
}

#footer {
  width: 1200px;
  height: 327px;
  margin: 0 auto;
  background: #fff;
  border-top: 1.5px solid #e2e2e2;
}

#footer .list {
  width: 960px;
  height: 137px;
  background: #fff;
  padding: 37px 90px 0 150px;
  list-style: none;
}

#footer .list > li {
  width: 135px;
  height: 86px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#footer .list > li > dt {
  color: #525252;
  font-size: 14px;
  font-family: Microsoft Yahei, Arial;
  font-weight: bold;
}

#footer .list > li > dd {
  color: #b2b2b2;
  font-size: 12px;
}

#footer .list > li:nth-child(3) {
  height: 137px;
}

#footer .list > li:nth-child(4) {
  height: 57px;
}

#footer .list > li:nth-child(5) {
  height: 57px;
}

#footer .list > li:nth-child(6) {
  height: 57px;
}

#footer .copyright {
  width: 1179px;
  height: 55.4px;
  padding: 66px 0 30px 21px;
}

#footer .copyright > p {
  height: 15.4px;
  font-size: 12px;
  color: #b2b2b2;
}
