* {
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
  position: relative;
}

#header_top {
  width: 100%;
  height: 35px;
  background: #eeeeee;
}

#header_top .head-center {
  position: relative;
  width: 1200px;
  height: 35px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header_top .head-center .head-list {
  width: 271px;
  height: 35px;
  margin-left: 50px;
  font-size: 12px;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header_top .head-center .head-list span {
  margin: 0px 10px;
  color: #c8c8c8;
}

#header_top .head-center .head-list a {
  text-decoration: none;
  color: #cc0000;
}

#header_top .head-center .head-list1 {
  width: 537px;
  height: 35px;
  font-size: 12px;
  position: relative;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header_top .head-center .head-list1 > li {
  width: 81px;
  height: 35px;
  padding: 0px 10px;
  line-height: 35px;
}

#header_top .head-center .head-list1 .sp {
  margin-left: 10px;
}

#header_top .head-center .head-list1 span {
  color: #c8c8c8;
}

#header_top .head-center .head-list1 .spa {
  position: absolute;
  top: 0px;
  right: 0px;
}

#header_top .head-center .head-list1 > li a {
  text-decoration: none;
  color: #747474;
}

#header_top .head-center .head-list1 > li a:hover {
  color: #cc0000;
}

#header_top .head-center .service {
  width: 90px;
  height: 49px;
  padding: 10px 0px;
  border: 1px solid #f5f5f5;
  background: #fff;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 35px;
  right: 0px;
}

#header_top .head-center .service > p {
  height: 24px;
  width: 90px;
  font-size: 12px;
  color: #747474;
  line-height: 24px;
  text-align: center;
}

#header_top .head-center .service > p span {
  color: #ff6600;
  font-size: 20px;
  margin: 2px 0px 0px 2px;
}

#header_top .head-center .collect {
  width: 90px;
  height: 49px;
  padding: 10px 0;
  background: #fff;
  opacity: 0;
  position: absolute;
  top: 35px;
  right: 90px;
}

#header_top .head-center .collect > p {
  width: 90px;
  height: 24px;
  font-size: 12px;
  color: #747474;
  text-align: center;
  line-height: 24px;
}

#header {
  width: 1200px;
  height: 110px;
  margin: 0 auto;
}

#header .logo {
  width: 210px;
  height: 80px;
  margin-top: 10px;
  float: left;
}

#header .logo > img {
  width: 173px;
  height: 80px;
}

#header .search {
  width: 740px;
  height: 96px;
  margin-left: 28px;
  float: left;
}

#header .search .search-top {
  width: 562px;
  height: 38px;
  margin-top: 26px;
  border: 1px solid #cc0000;
  border-radius: 25px;
  float: left;
}

#header .search .search-top .search-left {
  width: 67px;
  height: 38px;
  float: left;
  border-right: 1px solid #b7b7b7;
  margin-left: 5px;
  font-size: 12px;
  line-height: 38px;
  text-align: center;
  color: #747474;
}

#header .search .search-top .search-left > span {
  font-size: 12px;
  color: #747474;
}

#header .search .search-top .input {
  width: 380px;
  height: 38px;
  margin-left: 20px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .search .search-top .input .search-input {
  width: 370px;
  height: 30px;
  border: none;
  outline: none;
  background: whitesmoke;
}

#header .search .search-top .fdj {
  width: 70px;
  height: 38px;
  background: #cc0000;
  float: right;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .search .search-top .fdj > span {
  font-size: 18px;
  color: #fff;
}

#header .search .logo2 {
  width: 145px;
  height: 40px;
  margin: 26px 0px 0px 30px;
  float: right;
}

#header .search .logo2 > img {
  width: 100%;
  height: 100%;
}

#header .search .tag {
  width: 640px;
  height: 30px;
  margin-left: 18px;
  float: left;
  list-style: none;
}

#header .search .tag > li {
  font-size: 12px;
  float: left;
  line-height: 30px;
}

#header .search .tag > li a {
  text-decoration: none;
  margin-right: 22px;
  color: #747474;
}

#header .search .tag > li a:hover {
  color: #cc0000;
}

#header .right {
  width: 123px;
  height: 38px;
  float: right;
  margin-top: 26px;
  margin-right: 50px;
  border: 1px solid #e4e4e4;
  padding-left: 15px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .right > span {
  font-size: 30px;
  color: #747474;
}

#header .right > a {
  font-size: 12px;
  color: #666666;
  text-decoration: none;
  margin-left: 5px;
}

#header .right > a > span {
  margin-left: 7px;
}

#menu {
  width: 1200px;
  height: 36px;
  margin: 0 auto;
}

#menu .menu-left {
  width: 174px;
  height: 36px;
  float: left;
  background: #cc0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu .menu-left .lf {
  width: 142px;
  position: relative;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu .menu-left .lf > span {
  font-size: 17px;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 17px;
}

#menu .menu-left .lf > a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  margin-left: 30px;
}

#menu .menu-right {
  width: 614px;
  height: 36px;
  margin-left: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

#menu .menu-right > li {
  font-size: 14px;
  float: left;
}

#menu .menu-right > li a {
  text-decoration: none;
  color: #424242;
}

#menu .menu-right > li a:hover {
  color: rgba(66, 66, 66, 0.7);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#de-content {
  width: 1158px;
  height: 731px;
  border: 1px solid #E8E8E8;
  padding: 20px;
  margin: 20px auto;
  background: gold;
}

#de-content .title {
  width: 1160px;
  height: 40px;
  margin: 10px;
  background: #fff;
  line-height: 40px;
}

#de-content .title > a {
  color: #666;
  font-size: 16px;
  font-weight: bold;
}

#de-content .title > span {
  font-size: 12px;
  color: #666;
}

#de-content .leftpic {
  width: 400px;
  height: 525px;
  margin-left: 10px;
  float: left;
  background: #fff;
}

#de-content .leftpic .midimg {
  width: 400px;
  height: 400px;
  background: pink;
  cursor: crosshair;
}

#de-content .leftpic .midimg > img {
  width: 100%;
  height: 100%;
}

#de-content .leftpic .smallimg {
  width: 390px;
  height: 82px;
  padding: 6px 5px;
  background: #fff;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

#de-content .leftpic .smallimg .left {
  width: 15px;
  height: 82px;
  background: #fff;
  line-height: 82px;
  cursor: pointer;
}

#de-content .leftpic .smallimg .pro-list {
  min-width: 360px;
  height: 80px;
  overflow: hidden;
}

#de-content .leftpic .smallimg .pro-list > li {
  width: 89px;
  height: 77px;
  float: left;
}

#de-content .leftpic .smallimg .pro-list > li > img {
  width: 100%;
  height: 100%;
}

#de-content .leftpic .smallimg .pro-list > li:hover {
  border: 2px solid #cc0000;
}

#de-content .leftpic .smallimg .right {
  width: 15px;
  height: 82px;
  background: #fff;
  line-height: 82px;
  cursor: pointer;
}

#de-content .leftpic .font {
  width: 397px;
  height: 18px;
  background: #fff;
  margin-top: 5px;
  font-size: 14px;
  color: #747474;
  line-height: 18px;
  text-align: right;
  padding-right: 3px;
}

#de-content .rightpic {
  width: 503px;
  height: 525px;
  margin-left: 10px;
  background: #fff;
  float: left;
}

#de-content .rightpic .title-top {
  width: 450px;
  height: 78px;
  background: #ccc;
  margin-left: 30px;
}

#de-content .rightpic .title-top > p {
  width: 450px;
  height: 53px;
  color: #747474;
  font-weight: bold;
  font-size: 18px;
}

#de-content .rightpic .title-top > span {
  display: block;
  width: 450px;
  height: 25px;
  background: red;
  line-height: 25px;
  color: #cc0000;
  font-size: 12px;
}

#de-content .mid_font {
  width: 450px;
  height: 300px;
  background: pink;
  margin-left: 30px;
}

#de-content .mid_font .p1 {
  width: 450px;
  height: 34px;
  background: blue;
}

#de-content .mid_font .p1 > span {
  width: 90px;
  height: 34px;
  font-size: 12px;
  color: #747474;
  text-align: right;
  line-height: 34px;
  background: #ccc;
  float: left;
}

#de-content .mid_font .p1 > p {
  font-size: 16px;
  color: #cc0000;
  font-weight: bold;
  float: left;
  line-height: 34px;
  margin-left: 3px;
}
